DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=ows@123
DB_NAME=chat_app
JWT_SECRET=your_jwt_secret_key
ALLOWED_ORIGINS=http://localhost:5173
PORT=4000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=bapitawork@gmail.com
SMTP_PASSWORD=rdjhemkpqdcllrxs
REDIS_HOST=localhost
REDIS_PORT=6379
