DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
MYSQL_ROOT_PASSWORD=ows@123
MYSQL_DATABASE=chat_app
JWT_SECRET=your_jwt_secret_key
ALLOWED_ORIGINS=http://localhost:5173
PORT=4000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=joeclash197@gmail.com
SMTP_PASSWORD=vnrt keyr clul bumb
REDIS_HOST=localhost
REDIS_PORT=6379
