<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hi, <%=name%>
        <p>Your OTP is <%=otp%> which is valid for 2 minutes</p>
        <p>Thank You</p>
        <p>Team Etheral</p>
</body>

</html>